alembic==1.7.6
altair==4.1.0
anyio==3.4.0
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astor==0.8.1
atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
Babel==2.9.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
base58==2.1.1
bcrypt @ file:///C:/ci/bcrypt_1607022693089/work
black==19.10b0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
blis @ file:///D:/bld/cython-blis_1645002799390/work
Bottleneck @ file:///C:/ci/bottleneck_1607557040328/work
brotlipy @ file:///D:/bld/brotlipy_1636012392748/work
cachetools==4.2.4
catalogue @ file:///D:/bld/catalogue_1638867525406/work
catboost @ https://pypi.org/packages/cp39/c/catboost/catboost-1.0.4-cp39-none-win_amd64.whl
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
chart-studio==1.1.0
click @ file:///C:/ci/click_1646038595831/work
cloudpickle==2.0.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlover==0.3.0
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1638573090458/work
confuse @ file:///home/conda/feedstock_root/build_artifacts/confuse_1638044079768/work
constantly==15.1.0
cryptography @ file:///C:/ci/cryptography_1639414720302/work
cssselect==1.1.0
cufflinks==0.17.3
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///D:/bld/cymem_1636053399015/work
databricks-cli==0.16.4
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datefinder @ file:///home/conda/feedstock_root/build_artifacts/datefinder_1596670672904/work
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dnspython==1.16.0
docker==5.0.3
docker-pycreds==0.4.0
dython==0.7.0
entrypoints==0.3
Flask==2.0.3
Flask-WTF @ file:///home/conda/feedstock_root/build_artifacts/flask-wtf_1636315090243/work
fonttools==4.25.0
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1640095670534/work
future @ file:///D:/bld/future_1635819693853/work
gensim @ file:///D:/bld/gensim_1617356656181/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
greenlet @ file:///D:/bld/greenlet_1635836959695/work
htmlmin==0.1.12
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
ImageHash @ file:///home/conda/feedstock_root/build_artifacts/imagehash_1626361020540/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1641929766604/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1638543082309/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///C:/ci/ipykernel_1633545585502/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1643818352265/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1645182785493/work
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5==0.9.6
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///C:/ci/jupyter_1607685287094/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///C:/ci/jupyter_core_1636537172022/work
jupyter-server==1.12.1
jupyterlab==3.0.0
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server==2.8.2
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kiwisolver @ file:///C:/ci/kiwisolver_1644962577370/work
kmodes @ file:///home/conda/feedstock_root/build_artifacts/kmodes_1643228489656/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
lightgbm @ file:///D:/bld/lightgbm_1641600261296/work
llvmlite==0.38.0
lxml @ file:///C:/ci/lxml_1640178390291/work
Mako==1.1.6
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matplotlib @ file:///C:/ci/matplotlib-suite_1645455836921/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
missingno==0.4.2
mistune @ file:///C:/ci/mistune_1607359457024/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
mlflow==1.23.1
mlxtend @ file:///home/conda/feedstock_root/build_artifacts/mlxtend_1630675403151/work
multimethod @ file:///home/conda/feedstock_root/build_artifacts/multimethod_1603129052241/work
munkres==1.1.4
murmurhash @ file:///D:/bld/murmurhash_1636019833866/work
mypy-extensions==0.4.3
nbclassic==0.3.4
nbclient @ file:///tmp/build/80754af9/nbclient_1645431659072/work
nbconvert @ file:///C:/ci/nbconvert_1624479160025/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1646497321764/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
notebook @ file:///C:/ci/notebook_1645002729033/work
numba==0.55.1
numexpr @ file:///C:/ci/numexpr_1640704337920/work
numpy==1.21.5
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///C:/ci/pandas_1644984307868/work
pandas-profiling @ file:///home/conda/feedstock_root/build_artifacts/pandas-profiling_1620781969337/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parsel @ file:///C:/ci/parsel_1613041788113/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.7.0
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1635227809952/work
patsy==0.5.2
phik @ file:///D:/bld/phik_1636795475608/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
plotly @ file:///tmp/build/80754af9/plotly_1626182254919/work
pluggy @ file:///C:/ci/pluggy_1633715352723/work
preshed @ file:///D:/bld/preshed_1636077890169/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prometheus-flask-exporter==0.18.7
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.1
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyarrow==6.0.1
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycaret @ file:///home/conda/feedstock_root/build_artifacts/pycaret_1610072155158/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///D:/bld/pydantic_1636021267451/work
pydeck==0.7.1
PyDispatcher==2.0.5
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1615748656804/work
pyLDAvis @ file:///home/conda/feedstock_root/build_artifacts/pyldavis_1616598811607/work
pymongo==3.12.0
Pympler==0.9
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1642882095160/work
pyod @ file:///home/conda/feedstock_root/build_artifacts/pyod_1646497277807/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///C:/ci/pyrsistent_1636093225342/work
PySocks @ file:///D:/bld/pysocks_1635862562854/work
pytest==6.2.5
pytest-runner @ file:///tmp/build/80754af9/pytest-runner_1623663836848/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets @ file:///D:/bld/pywavelets_1638210034445/work
pywin32==227
pywinpty @ file:///C:/ci_310/pywinpty_1644230983541/work/target/wheels/pywinpty-2.0.2-cp39-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638435148211/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1643819126524/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1643087291789/work
querystring-parser==1.2.4
queuelib==1.5.0
regex @ file:///C:/ci/regex_1628063427816/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
retrying==1.3.3
scikit-learn @ file:///C:/ci/scikit-learn_1642617276183/work
scikit-plot==0.3.7
scipy==1.8.0
Scrapy @ file:///C:/ci/scrapy_1632767794303/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
semver==2.13.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
shap @ file:///C:/ci/shap_1633412416404/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
sip==4.19.13
six @ file:///C:/ci/six_1605205404068/work
sklearn==0.0
slicer @ file:///tmp/build/80754af9/slicer_1633422823758/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap==5.0.0
sniffio==1.2.0
spacy @ file:///D:/bld/spacy_1644658158765/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1645713043381/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1634809367310/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1646615609131/work
sqlparse==0.4.2
srsly @ file:///D:/bld/srsly_1638879782215/work
statsmodels==0.12.2
streamlit==1.6.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
tangled-up-in-unicode @ file:///home/conda/feedstock_root/build_artifacts/tangled-up-in-unicode_1632832610704/work
tenacity @ file:///C:/ci/tenacity_1626248381338/work
terminado @ file:///C:/ci/terminado_1644322780199/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
textblob==0.15.3
thinc @ file:///D:/bld/thinc_1638980459128/work
threadpoolctl==3.1.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz==0.11.2
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
Twisted @ file:///C:/ci/twisted_1636996801052/work
twisted-iocpsupport @ file:///C:/ci/twisted-iocpsupport_1614804877776/work
typed-ast @ file:///C:/ci/typed-ast_1624953797214/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1630326630489/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
tzdata==2021.5
tzlocal==4.1
umap-learn @ file:///D:/bld/umap-learn_1642213509109/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
validators==0.18.2
visions @ file:///home/conda/feedstock_root/build_artifacts/visions_1612743227238/work
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
waitress==2.0.0
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1638865582891/work
watchdog==2.1.6
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1645884408572/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1644332431572/work
widgetsnbextension @ file:///C:/ci/widgetsnbextension_1644991377168/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832858406/work
wincertstore==0.2
wordcloud @ file:///D:/bld/wordcloud_1637007576973/work
WTForms @ file:///home/conda/feedstock_root/build_artifacts/wtforms_1640306863281/work
yellowbrick @ file:///home/conda/feedstock_root/build_artifacts/yellowbrick_1617839948808/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zope.interface @ file:///C:/ci/zope.interface_1625036252485/work
