
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: rgb(80, 137, 52);
    height: 165px;
}

#intro{
    margin-top: 100px;
}

form .btn{
  width: 300px;
  background-color: rgb(80, 137, 52);
}

form label{
  color: rgb(80, 137, 52);
  font-size: 20px;
}