
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

.navbar{
    background-color: rgb(80, 137, 52);
    height: 165px;
}

#intro{
    margin-top: 100px;
}

form .btn{
  width: 300px;
  background-color: rgb(80, 137, 52);
}

form label{
  color: rgb(80, 137, 52);
  font-size: 20px;
}

#table_pred{
  max-width: 40%;
  max-height: 75vh;
  overflow: scroll;
  margin: 20px auto 0px auto;
  border: solid rgb(80, 137, 52);
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

#graph1, #graph2{
  border: solid rgb(130, 194, 98);
  border-radius: 0 0 4px 4px;
  
}
#titre_graph1, #titre_graph2{
  background-color: rgb(130, 194, 98);
  margin-top: 20px;
  margin-bottom: 0;
  color: white;
  text-align: center;
  border-radius: 4px 4px 0 0;
}
th{
  position: sticky;
  top: 0;
  background-color: rgb(130, 194, 98);
  color: white;
}
section{
  border-radius: 20px;
}

section h2{
  line-height: 80px;
  border-radius: 20px 20px 0 0;
  background-color : rgb(130, 194, 98)
}

.left img{
  margin-left: 8%;
  border-right : 2px solid black;
  height: 60vh;
  padding: 5% 8% 5% 0;
}

.right img{
  margin-right: 8%;
  border-left : 2px solid black;
  height: 63vh;
  padding: 5% 0 5% 8%;
}

.forecast{
  line-height: 250px;
  font-size: 50px;
  background-color: rgb(209, 215, 221);
  border-radius: 0 0 20px 20px;
}
#paragraphe{
  line-height: 50px;
  font-size: 30px;
}
span{
  color: red;
  font-weight: bold;
}
.green{
  background-color: rgba(0, 255, 0, 0.5);
}

.red{
  background-color: rgba(255, 0, 0, 0.5);
}

.blue{
  background-color: rgba(0, 0, 255, 0.5);
}

.shadow{
  border-radius: 10px;
}
